* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 html {
    height: 100%;
 }
 
 .divContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px !important; 
 }
 .cardGraficoCerealEntregado {
    /* min-width: 200px; */
    border-radius: 0 !important;
    border: hidden;
 }
 .cardGraficoInsumosComprados {
    border-radius: 0 !important;
    border: hidden;
 }
 .titulos{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #605d5f !important;
    padding-bottom: 15px;
 }

 /* @media only screen and (max-width: 1024px) {
   .divContainer{
      display: flex;
      flex-direction: column;
    }
    .cardTable {
      width: 100% !important;
   }
   .cardGrafico {
      width: 100% !important;
   }
   
 } */
 
 
 /*-------TAMAÑO DE LAS CARD-------*/
 /* .ant-card-body {
    height: 320px !important; 
 } */
 /*------------------*/